.OvervodkaChatLine {
    width: 100%;
    min-height: 26px;
    flow-children: right;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.25s;
}

.CustomChatLine{
    flow-children: right;
    vertical-align: center;
}

.CustomChatLine .Text{
    color: #faeac9;
    font-size: 18px;
    font-family: defaultFont;
    font-weight: semi-bold;
    margin-left: 5px;
    text-shadow: 1px 1.5px 0px 2 #000000;
    vertical-align: center;
}

.OvervodkaChatLine.ExpireThisAfter { opacity: 0; }

.CustomChatLine #HeroImage{
    width: 40px;
    height: 23px;
    margin-left: 32px;
    border: 1px solid black;
    vertical-align: center;
}

.ChatWheelIcon{
    width: 20px;
    height: 20px;
    margin-right: 2px;
    vertical-align: top;
}

.SpecialField{
    font-weight: bolder;
    color: white;
}

.SoundIconChat{
    width: 20px;
    height: 20px;
}
