.OverthrowGameInfo
{
    width:100%;
    flow-children: down;
}
 
Label
{
    font-size: 18px;
    color: #ff70db;
    vertical-align: top;
}
 
#Title
{
    flow-children: right;
    margin-top: -70px;
}

#TitleIcon
{
    width: 64px;
    height: 64px;
    vertical-align: center;
}

#TitleName
{
    color: #ff00dd;
    font-size: 80px;
    margin-left: 16px;
    margin-top: 16px;
    text-transform: uppercase;
    vertical-align: center;
    text-shadow: 0 0 10px #ff00bf;
}

#BriefDescription
{
    color: #c25c5c;
    font-size: 25px;
    max-width: 800px;
    margin-right: 92px;
}
#HamsterDescription
{
    color: #b468a7;
    font-size: 25px;
    max-width: 800px;
    margin-right: 92px;
}
#ThroneText,
#CoinsText,
#ItemsText
{
    width: 50%;
}

.Header
{
	font-size: 28px;
    font-weight: bold;
	margin-top: 36px;
	text-transform: uppercase;
}

#GoldRainHeader
{
    margin-top: 30px;
    color: #FFD700;
}
#GoldRainDescription
{
    color: #fde452;
    font-size: 25px;
    max-width: 800px;
    margin-right: 92px;
}
#BombardiroHeader
{
    margin-top: 30px;
    color: #00ff40;
}
#BombardiroDescription
{
    color: #62ff5d;
    font-size: 25px;
    max-width: 800px;
    margin-right: 92px;
}
#ObjectiveHeader
{
	margin-top: 30px;
    color : #ff0000;
}

#ThroneRow
{
    margin-top: 0px;
}

#ThroneText
{
    margin-top: 60px;
	text-align: left;
}

#HowToPlayHeader
{
    margin-top: 30px;
    color: #ff00dd;
}